{% extends "mayslearning/layout.html" %}
{% load static %}

{% block title %}
  Mistakes
{% endblock %}

{% block body %}
<script src="{% static 'mayslearning/audioPlayer.js' %}"></script>
<script src="{% static 'mayslearning/paginationA.js' %}"></script>
<script src="{% static 'mayslearning/pastMistakes.js' %}"></script>

  <div class="container">

    <div class="content-container past-mistakes">
        <div class="mainContentDiv"></div>
    </div>

    <div id="pageNumbers" class="footer">
      <span id="pageNumberContainer"></span>
    </div>    

  </div>
{% endblock %}